*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background: url('img/bground.png') no-repeat center center fixed;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.calcs{
background:white;
padding:30px;
border-radius:10px;
width:350px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
text-align:center;
margin-bottom:15px;
}

input{
width:100%;
padding:8px;
margin:6px 0;
border-radius:5px;
border:1px solid #ccc;
}

.operadores{
display:flex;
justify-content:space-between;
margin:10px 0;
}

.operadores button{
width:22%;
font-size:18px;
padding:8px;
border:none;
border-radius:5px;
background:#00CED1;
color:white;
cursor:pointer;
}

.operadores button:hover{
background:#40E0D0;
}

.fixar{
margin-top:10px;
width:100%;
padding:8px;
border:none;
border-radius:5px;
background:#00CED1;
color:white;
cursor:pointer;
}

.fixar:hover{
background:#40E0D0;
}

#historico{
margin-top:10px;
background:#f2f2f2;
padding:10px;
border-radius:5px;
min-height:60px;
max-height:120px;
overflow-y:auto;
font-size:14px;
}

.container{
display:flex;
gap:20px;
align-items:flex-start;
}

.historico-box{
background:white;
padding:20px;
border-radius:10px;
width:250px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.historico-topo{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.deletar{
border:none;
background:#ff4d4d;
color:white;
padding:5px 8px;
border-radius:5px;
cursor:pointer;
}

.deletar:hover{
background:#ff7070;
}

#historico{
background:#f2f2f2;
padding:10px;
border-radius:5px;
min-height:120px;
max-height:300px;
overflow-y:auto;
font-size:14px;
}